{% extends layout__file %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="jumbotron text-white rounded bg-dark">
        <h1 class="display-4 font-weight-normal">Hello World!</h1>
        <p class="lead">
            Welcome to the Jasper Framework! The server is configured, and now you are now ready to create your new
            site! The following documentation will guide you through the process of configuring the site.
        </p>
    </div>
    <div class="col-md-8">
        <h2 class="font-italic border-bottom"><a id="getting-started"></a>Getting Started</h2>
        <h3 class="font-italic border-bottom"><a id="getting-started"></a>Adding and configuring external services</h3>
        <p>
            Services include such things as a loggers and dependency injection containers. This installation includes
            Monolog, a popular and comprehensive logging utility and php-di as a dependency injection container. These
            services are included as a convenience, and are not required for the Jasper Framework to run. These services
            can be replaced with any PSR-compliant alternative, or removed entirely.
        </p>
        <p>
            Both Monolog and PHP-DI, as well as any other service you wish to install and have available during the
            full running of the framework, can be configured in /public/index.php.
        </p>
        <h3 class="font-italic border-bottom"><a id="getting-started"></a>Using The Configuration File</h3>
        <p>
            Most aspects of the running of the Jasper Framework are set up in the /config/config.php array. This file
            is divided into three sections, "framework", "view" and "routes".
        </p>
        <p>
            The "framework" section of the array is fairly simple, containing the site version string and other global
            parameters for the running of the framework. The version is user-specified, and is useful if the version
            will be included in the site output for version control or audit purposes. It is not the version of Jasper
            itself.
        </p>
        <p>
            For context, the typical approach to displaying pages in the framework is that there are two files used, a
            page specific "view" file that is stored in the module's View folder, and a more general template file that
            is used by most or all of the pages. More details about this are contained in the "Creating Your Content"
            section.
        </p>
        <p>
            The view section of the array contains the settings for the various renderers used to format and display the
            site to the end user. The sections currently used are detailed below:
        </p>
        <dl class="row">
            <dt class="col-sm-3">default_layout_path</dt>
            <dd class="col-sm-9">
                This is directory that contains layout files. This can be overidden calling
                <code>J()->renderer->setLayoutPath()</code> in a controller or model.
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">default_layout_file</dt>
            <dd class="col-sm-9">
                In the <code>default_layout_path</code>, this is the template file that will be used if an alternate is
                not specified in the controller or model.
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">renderers</dt>
            <dd class="col-sm-9">
                This section contains arrays that define the individual renderes that can be used, based on the file
                extension. Each array is keyed with an internal name for the renderer, which will be displayed in log
                files. Typically, the most common extension is used as the name. However this convention is not
                required.
                <dl class="row">
                    <dt class="col-sm-4">extensions</dt>
                    <dd class="col-sm-8">
                        An array of extensions (Such as "php" or "html") that this renderer should be used for.
                    </dd>
                    <dt class="col-sm-4">handler</dt>
                    <dd class="col-sm-8">
                        The FQN of the class that will be doing the rendering. This class should extend the "Renderer"
                        class.
                    </dd>
                    <dt class="col-sm-4">helpers</dt>
                    <dd class="col-sm-8">
                        For future use.
                    </dd>
                </dl>
            </dd>
        </dl>
        <p>
            The "routes" section of the configuration details the rules for routing requests - specifically converting
            a URL (or command line argument) into a model, controller and action that will be called by the framework.
        </p>
    </div>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-6 p-lg-6 mx-auto my-6">
            <h1 class="display-4 font-weight-normal">Hello World!</h1>
            <p class="lead font-weight-normal">PHP Micro Framework for developing web sites, RESTful APIs, command line
                applications and much much more!</p>
            <a class="btn btn-outline-secondary" href="#">Coming soon</a>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead">And an even wittier subheading.</p>
            </div>
            <div class="bg-light shadow-sm mx-auto"
                    style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead">And an even wittier subheading.</p>
            </div>
            <div class="bg-dark shadow-sm mx-auto"
                    style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead">And an even wittier subheading.</p>
            </div>
            <div class="bg-dark shadow-sm mx-auto"
                    style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead">And an even wittier subheading.</p>
            </div>
            <div class="bg-light shadow-sm mx-auto"
                    style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead">And an even wittier subheading.</p>
            </div>
            <div class="bg-white shadow-sm mx-auto"
                    style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead">And an even wittier subheading.</p>
            </div>
            <div class="bg-white shadow-sm mx-auto"
                    style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead">And an even wittier subheading.</p>
            </div>
            <div class="bg-white shadow-sm mx-auto"
                    style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead">And an even wittier subheading.</p>
            </div>
            <div class="bg-white shadow-sm mx-auto"
                    style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
    </div>

    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2"
                        viewBox="0 0 24 24" focusable="false"><title>Product</title>
                    <circle cx="12" cy="12" r="10"/>
                    <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
                </svg>
                <small class="d-block mb-3 text-muted">&copy; 2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Business</a></li>
                    <li><a class="text-muted" href="#">Education</a></li>
                    <li><a class="text-muted" href="#">Government</a></li>
                    <li><a class="text-muted" href="#">Gaming</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}