{% extends layout__file %}
{% block head %}
    {{ parent() }}
    <style>
        .jumbotron {
            margin-top: 20px;
        }

        h1 {
            font-family: "Playfair Display", Georgia, "Times New Roman", serif;
        }

        .jumbotron h1 {
            font-style: italic;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="jumbotron text-white rounded bg-dark">
        <h1 class="display-4 font-weight-normal center">Private Collection</h1>
        <p class="lead">
            All items in this collection are set as private. To view the collection, please log in using the button
            above, or contact the collection administrator to have items set to public viewing.
        </p>
    </div>
{% endblock %}